<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styleaccountcreate.css' %}">
</head>
<body>
	<div class="Big">
		<div class="BigLeft">
			<div class="MiniLeft">
				<h1 class="h1">Create Account</h1>
				<form method="post" action="cap">
					{% csrf_token %}
					<input class="t1" type="text" placeholder="Enter the First Name" name="firstname">
					<input class="t1" type="text" placeholder="Enter the Last Name" name="lastname"><br><br>
					<input class="t1" type="email" placeholder="Enter the Email id" name="email">
					<input class="t1" type="tel" placeholder="Phone No" name="phoneno"><br><br>
					<input class="t2" type="text" placeholder="User name" name="username"><br><br>
					<input class="t2" type="text" placeholder="Create Password" name="password"><br><br>
					<input class="t2" type="password" placeholder="Confirm Password" name="cpassword"><br>
					
					<input class="btn1" type="submit" value="SIGN UP">
				</form>
			</div>
		</div>
		<div class="BigRight">
			<div class="MiniRight">
				<span class="span1">Already a member?</span>&emsp;
				<input class="LoginButton" type="submit" value="LOGIN" name=""><br>
				<img class="img1" src="{% static 'img/bakery_logo.png' %}">
			</div>
		</div>
	</div>
</body>
</html>