<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
</head>
<body>
	<div>
		<table>
			<tr align="center">
				<th>Bakery Name</th><th>Bakery Price</th><th>Bakery Image</th><th>Bakery Type</th><th>Bakery Flavour</th><th>Delete Item</th><th>Edit Item</th>
			</tr>
			{% for i in x %}
				<tr align="center"><td>{{ i.bakeryname }}</td><td>{{ i.bakeryprice }}</td><td><img height="250" width="300" src="{{ i.bakeryimage }}"></td><td>{{ i.bakerytype }}</td><td>{{ i.bakeryflavour }}</td><td><a href="delete/{{ i.id }}">delete</a></td><td><a href="edit/{{ i.id }}">edit</a></td></tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>