<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
<body>
	<div class="Big">
		<div class="BigLeft">
			<div class="MiniLeft">
				<h1>Your Order</h1><br>
				<form method="post" action="../vld/{{ x.id }}">
				{% csrf_token %}
				<img height="250" width="300" src="{{ x.bakeryimage }}"><br>
					<h2>{{ x.bakeryname }}</h2>
					<span>Bakery Type:&nbsp;</span><span>{{ x.bakerytype }}</span><br>
					<span>Flavour:&nbsp;</span><span>{{ x.bakeryflavour }}</span><br>
					<span>Price: ₹<b>{{ x.bakeryprice }}</b>.</span><br><br>
			</form>
			</div>
		</div>
		<div class="BigRight">
			<div class="MiniRight">
			 <p>Please Order Now&ensp;&ensp;<a href="../customerorder/{{x.id}}"><button class="login">BUY</button></a></p><br>
				<img src="{% static 'img/Crlogo.png' %}" class="logo">
			</div>
		</div>
	</div>
</body>
</html>