<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<body>
	<div class="Big">
		<div class="BigLeft">
			<div class="MiniLeft">
				<h1>Create Account</h1><br>
				<form method="post" action="log2">
					{% csrf_token %}
					<input type="text" placeholder="User name" name="User_name" class="textbox2"><br><br>
					<input type="password" placeholder="Password" name="Pwd" class="textbox2"><br><br>
					<input type="submit" value="LOGIN" class="signup">
				</form>
			</div>
		</div>
		<div class="BigRight">
			<div class="MiniRight">
				<p>Create Your Account&ensp;&ensp;<a href="createaccount"><button class="login">SIGN IN</button></a></p><br>
				<img src="{% static 'img/Crlogo.png' %}">
			</div>
		</div>
	</div>
</body>
</html>