<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
</head>
<body>
	<h1 align="center">Customer Details</h1><br>
	<table>
			<tr align="center">
				<th>First Name</th><th>Last Name</th><th>Address</th><th>Pincode</th><th>Phone No.</th><th>Email Id</th><th>WhatsApp No.</th><th>Quentity</th><th>Item Name</th><th>Item Price</th><th>Order Time</th>
			</tr>
			{% for i in x %}
				<tr align="center">
					<td>{{ i.firstname }}</td><td>{{ i.lastname }}</td><td>{{ i.address }}</td><td>{{ i.pincode }}</td><td>{{ i.phone }}</td><td><a title="{{ i.email }}" href="mailto:{{i.email}}">{{ i.email }}</a></td><td><a href="https://wa.me/+91{{ i.altphone }}" title="{{ i.altphone }}" target="blank">{{ i.altphone }}</a></td><td>{{ i.quentity }}</td><td>{{ i.itemname }}</td><td>{{ i.itemprice }}</td><td>{{ i.ordertime }}</td>
				</tr>
			{% endfor %}
		</table>
</body>
</html>