<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
</head>
<body>
	<div class="top">
	
	</div>
	<div class="display">
		<h1>Our Products</h1>
			{% for i in x %}
				<div class="cake">
					<img height="250" width="300" src="{{ i.bakeryimage }}"><br>
					<h3>{{ i.bakeryname }}</h3>
					<span>Bakery Type:&nbsp;</span><span>{{ i.bakerytype }}</span><br>
					<span>Flavour:&nbsp;</span><span>{{ i.bakeryflavour }}</span><br>
					<span>Price: ₹<b>{{ i.bakeryprice }}</b>.</span><br><br>
					<a target="_blank" href="vieworder/{{ i.id }}"><button>Order Now</button></a>
				</div>
			{% endfor %}
	</div>
</body>
</html>